# Игнорировать виртуальное окружение и Python-кэш
venv/
__pycache__/
*.pyc

# Игнорировать логи и временные файлы
*.log
*.tmp

# Игнорировать настройки IDE
.vscode/
.idea/

# Игнорировать конфиденциальные данные
.env

# Игнорировать сайт-контент кэш
*.map
*.min.js
*.min.css
